#template-3 .site { width: 1000px; margin: 0px auto; }
						#template-3 .back-spacing { margin: 0px; border-width: 0px; }
						#template-3 .mod-spacing { margin: 12px; border-width: 12px; }
#template-3 #mod-0_0 { width: calc(100% - 0px);  margin-top: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 0px; }
#template-3 #back-1 { width: calc(100% - 0px);  margin-top: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 0px; }
#template-3 #mod-0_1 { width: calc(100% - 24px);  margin-left: 12px; margin-right: 12px; margin-top: 12px; margin-bottom: 12px; }
#template-3 #full-3 {  }
#template-3 #mod-0_2 { width: calc(100% - 24px);  margin-top: 0px; margin-left: 12px; margin-right: 12px; margin-top: 0px; margin-bottom: 0px; }
#template-7 .site { width: 1000px; margin: 0px auto; }
						#template-7 .back-spacing { margin: 0px; border-width: 0px; }
						#template-7 .mod-spacing { margin: 12px; border-width: 12px; }
#template-7 #mod-0_0 { width: calc(100% - 0px);  margin-top: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 0px; }
#template-7 #back-1 { width: calc(100% - 0px);  margin-top: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 0px; }
#template-7 #mod-0_1 { width: calc(50% - 24px);  margin-left: 12px; margin-right: 12px; margin-top: 12px; margin-bottom: 12px; }
#template-7 #mod-1_1 { width: calc(50% - 24px);  margin-left: 12px; margin-right: 12px; margin-top: 12px; margin-bottom: 12px; }
#template-7 #full-4 {  }
#template-7 #mod-0_2 { width: calc(100% - 24px);  margin-top: 0px; margin-left: 12px; margin-right: 12px; margin-top: 0px; margin-bottom: 0px; }
#template-13 .site { width: 1000px; margin: 0px auto; }
						#template-13 .back-spacing { margin: 0px; border-width: 0px; }
						#template-13 .mod-spacing { margin: 20px; border-width: 20px; }
#template-13 #mod-0_0 { width: calc(100% - 0px);  margin-top: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 0px; }
#template-13 #back-1 { width: calc(100% - 0px);  margin-top: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 0px; }
#template-13 #mod-0_1 { width: calc(100% - 80px);  margin-top: 40px; margin-left: 40px; margin-right: 40px; margin-top: 40px; margin-bottom: 40px; }
#template-13 #full-3 {  }
#template-13 #mod-0_2 { width: calc(100% - 40px);  margin-top: 0px; margin-left: 20px; margin-right: 20px; margin-top: 0px; margin-bottom: 0px; }
#template-17 .site { width: 1000px; margin: 0px auto; }
						#template-17 .back-spacing { margin: 0px; border-width: 0px; }
						#template-17 .mod-spacing { margin: 0px; border-width: 0px; }
#template-17 #full-0 {  }
#template-17 #mod-0_0 { width: calc(100% - 0px);  margin-top: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 0px; }
